.header-container {
	width: 100%;
	padding: 3%;

	color: white;

	align-items: center;
}

.hedaer- {
	font-size: 25px;
}

.pic-container {
	width: 100px;
	height: 100px;
}

.pic-img {
	border-radius: 20px;
	width: 100%;
}

.name-title {
	font-size: 20px;
	margin-bottom: 15px;
}

.name-sub {
	font-size: 15px;
}

.name-desc {
	font-size: 13px;
}

.header- .icon {
	margin-bottom: 2%;
	font-size: 12px;

	cursor: pointer;

	transition: all 0.1s ease;
}

.icon:hover {
	transform: scale(1.2);
	color: rgb(222, 255, 155);
	font-weight: bold;
}
